<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4">
                <h5>Name</h5>
            </div>
            <div class="col-md-5">
                <h5>Email</h5>
            </div>
            <div class="col-md-3">
                <h5>Click here to Download CV</h5>
            </div>
        </div>
        <hr>
        {% for profile in profiles %}
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                {{ profile.name }}
            </div>
            <div class="col-md-5 d-flex align-items-center">
                {{ profile.email }}
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <a href="/{{ profile.id }}" class="btn btn-primary">Download CV</a>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</body>
</html>